<div class="address-book-page">
      <div class="page-header">
        <div class="sheet-title" data-translate="address_book">АДРЕСНАЯ КНИГА</div>
      </div>
      <ul class="coin-picker">
        <li class="row"><div class="left"><img src="/static/images/coins/TON.webp" class="coin-icon"><div class="labels"><div class="name">The Open Network</div><div class="sub">USDT, TON, NOT, MAJOR, MY, DOGS, MEMHASH, HMSTR, CATI</div></div></div><div class="chev" style="margin-right: 10px;">›</div></li>
        <li class="row"><div class="left"><img src="/static/images/coins/TRX.webp" class="coin-icon"><div class="labels"><div class="name">Tron</div><div class="sub">USDT, TRX</div></div></div><div class="chev" style="margin-right: 10px;">›</div></li>
        <li class="row"><div class="left"><img src="/static/images/coins/SOL.webp" class="coin-icon"><div class="labels"><div class="name">Solana</div><div class="sub">USDT, SOL, TRUMP, MELANIA, WIF, BONK, USDC</div></div></div><div class="chev" style="margin-right: 10px;">›</div></li>
        <li class="row"><div class="left"><img src="/static/images/coins/ETH.webp" class="coin-icon"><div class="labels"><div class="name">Ethereum</div><div class="sub">USDT, ETH, PEPE, USDC</div></div></div><div class="chev" style="margin-right: 10px;">›</div></li>
        <li class="row"><div class="left"><img src="/static/images/coins/BNB.webp" class="coin-icon"><div class="labels"><div class="name">BNB Smart Chain</div><div class="sub">USDT, BNB, USDC</div></div></div><div class="chev" style="margin-right: 10px;">›</div></li>
        <li class="row"><div class="left"><img src="/static/images/coins/BTC.webp" class="coin-icon"><div class="labels"><div class="name">Bitcoin</div><div class="sub">BTC</div></div></div><div class="chev" style="margin-right: 10px;">›</div></li>
        <li class="row"><div class="left"><img src="/static/images/coins/DOGE.webp" class="coin-icon"><div class="labels"><div class="name">DOGE</div><div class="sub">DOGE</div></div></div><div class="chev" style="margin-right: 10px;">›</div></li>
        <li class="row"><div class="left"><img src="/static/images/coins/LTC.webp" class="coin-icon"><div class="labels"><div class="name">Litecoin</div><div class="sub">LTC</div></div></div><div class="chev" style="margin-right: 10px;">›</div></li>
      </ul>
  </div>
