<div class="currency-selection-page">
      <div class="page-header">
        <div class="sheet-title">ВЫБОР ВАЛЮТЫ</div>
      </div>
      <ul class="currency-list">
        <li class="row" data-code="RUB">
          <div class="left">
            <img src="/static/images/currency/RUB.webp" class="coin-icon" alt="RUB">
            <div class="labels">
              <div class="sym">RUB</div>
              <div class="sub">Russian Ruble</div>
            </div>
          </div>
          <div class="checkmark-indicator"></div>
        </li>
        <li class="row" data-code="USD">
          <div class="left">
            <img src="/static/images/currency/USD.webp" class="coin-icon" alt="USD">
            <div class="labels">
              <div class="sym">USD</div>
              <div class="sub">United States Dollar</div>
            </div>
          </div>
          <div class="checkmark-indicator"></div>
        </li>
        <li class="row" data-code="EUR">
          <div class="left">
            <img src="/static/images/currency/EUR.webp" class="coin-icon" alt="EUR">
            <div class="labels">
              <div class="sym">EUR</div>
              <div class="sub">Euro</div>
            </div>
          </div>
          <div class="checkmark-indicator"></div>
        </li>
        <li class="row" data-code="GBP">
          <div class="left">
            <img src="/static/images/currency/GBP.webp" class="coin-icon" alt="GBP">
            <div class="labels">
              <div class="sym">GBP</div>
              <div class="sub">Pound Sterling</div>
            </div>
          </div>
          <div class="checkmark-indicator"></div>
        </li>
        <li class="row" data-code="CNY">
          <div class="left">
            <img src="/static/images/currency/CNY.webp" class="coin-icon" alt="CNY">
            <div class="labels">
              <div class="sym">CNY</div>
              <div class="sub">Chinese Yuan</div>
            </div>
          </div>
          <div class="checkmark-indicator"></div>
        </li>
        <li class="row" data-code="KZT">
          <div class="left">
            <img src="/static/images/currency/KZT.webp" class="coin-icon" alt="KZT">
            <div class="labels">
              <div class="sym">KZT</div>
              <div class="sub">Kazakhstani Tenge</div>
            </div>
          </div>
          <div class="checkmark-indicator"></div>
        </li>
        <li class="row" data-code="UZS">
          <div class="left">
            <img src="/static/images/currency/UZS.webp" class="coin-icon" alt="UZS">
            <div class="labels">
              <div class="sym">UZS</div>
              <div class="sub">Uzbekistani Sum</div>
            </div>
          </div>
          <div class="checkmark-indicator"></div>
        </li>
        <li class="row" data-code="GEL">
          <div class="left">
            <img src="/static/images/currency/GEL.webp" class="coin-icon" alt="GEL">
            <div class="labels">
              <div class="sym">GEL</div>
              <div class="sub">Georgian Lari</div>
            </div>
          </div>
          <div class="checkmark-indicator"></div>
        </li>
        <li class="row" data-code="TRY">
          <div class="left">
            <img src="/static/images/currency/TRY.webp" class="coin-icon" alt="TRY">
            <div class="labels">
              <div class="sym">TRY</div>
              <div class="sub">Turkish Lira</div>
            </div>
          </div>
          <div class="checkmark-indicator"></div>
        </li>
        <li class="row" data-code="AMD">
          <div class="left">
            <img src="/static/images/currency/AMD.webp" class="coin-icon" alt="AMD">
            <div class="labels">
              <div class="sym">AMD</div>
              <div class="sub">Armenian Dram</div>
            </div>
          </div>
          <div class="checkmark-indicator"></div>
        </li>
        <li class="row" data-code="THB">
          <div class="left">
            <img src="/static/images/currency/THB.webp" class="coin-icon" alt="THB">
            <div class="labels">
              <div class="sym">THB</div>
              <div class="sub">Thai Baht</div>
            </div>
          </div>
          <div class="checkmark-indicator"></div>
        </li>
        <li class="row" data-code="INR">
          <div class="left">
            <img src="/static/images/currency/INR.webp" class="coin-icon" alt="INR">
            <div class="labels">
              <div class="sym">INR</div>
              <div class="sub">Indian Rupee</div>
            </div>
          </div>
          <div class="checkmark-indicator"></div>
        </li>
        <li class="row" data-code="BRL">
          <div class="left">
            <img src="/static/images/currency/BRL.webp" class="coin-icon" alt="BRL">
            <div class="labels">
              <div class="sym">BRL</div>
              <div class="sub">Brazilian Real</div>
            </div>
          </div>
          <div class="checkmark-indicator"></div>
        </li>
        <li class="row" data-code="IDR">
          <div class="left">
            <img src="/static/images/currency/IDR.webp" class="coin-icon" alt="IDR">
            <div class="labels">
              <div class="sym">IDR</div>
              <div class="sub">Indonesian Rupiah</div>
            </div>
          </div>
          <div class="checkmark-indicator"></div>
        </li>
        <li class="row" data-code="AZN">
          <div class="left">
            <img src="/static/images/currency/AZN.webp" class="coin-icon" alt="AZN">
            <div class="labels">
              <div class="sym">AZN</div>
              <div class="sub">Azerbaijani Manat</div>
            </div>
          </div>
          <div class="checkmark-indicator"></div>
        </li>
        <li class="row" data-code="AED">
          <div class="left">
            <img src="/static/images/currency/AED.webp" class="coin-icon" alt="AED">
            <div class="labels">
              <div class="sym">AED</div>
              <div class="sub">United Arab Emirates Dirham</div>
            </div>
          </div>
          <div class="checkmark-indicator"></div>
        </li>
        <li class="row" data-code="PLN">
          <div class="left">
            <img src="/static/images/currency/PLN.webp" class="coin-icon" alt="PLN">
            <div class="labels">
              <div class="sym">PLN</div>
              <div class="sub">Polish Zloty</div>
            </div>
          </div>
          <div class="checkmark-indicator"></div>
        </li>
        <li class="row" data-code="ILS">
          <div class="left">
            <img src="/static/images/currency/ILS.webp" class="coin-icon" alt="ILS">
            <div class="labels">
              <div class="sym">ILS</div>
              <div class="sub">Israeli New Shekel</div>
            </div>
          </div>
          <div class="checkmark-indicator"></div>
        </li>
        <li class="row" data-code="KGS">
          <div class="left">
            <img src="/static/images/currency/KGS.webp" class="coin-icon" alt="KGS">
            <div class="labels">
              <div class="sym">KGS</div>
              <div class="sub">Kyrgystani Som</div>
            </div>
          </div>
          <div class="checkmark-indicator"></div>
        </li>
        <li class="row" data-code="TJS">
          <div class="left">
            <img src="/static/images/currency/TJS.webp" class="coin-icon" alt="TJS">
            <div class="labels">
              <div class="sym">TJS</div>
              <div class="sub">Tajikistani Somoni</div>
            </div>
          </div>
          <div class="checkmark-indicator"></div>
        </li>
      </ul>
  </div>
