<div class="deposit-page">
    <div class="sheet-header">
      <div class="sheet-title">ПОПОЛНЕНИЕ КРИПТОВАЛЮТЫ</div>
    </div>
    <div class="search">
      <span class="search-icon">
        <svg viewBox="0 0 24 24" width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M21 21 16.65 16.65M10.5 18a7.5 7.5 0 1 1 0-15 7.5 7.5 0 0 1 0 15Z" stroke="currentColor" stroke-width="2"/>
        </svg>
      </span>
      <input type="text" id="coin-search" placeholder="Поиск монеты" autocomplete="off"/>
    </div>
    <ul class="coin-picker" id="coin-list">
      <li class="row" data-symbol="USDT" data-name="Tether">
        <div class="left">
          <img src="/static/images/coins/USDT.webp" class="coin-icon" alt="USDT">
          <div class="labels"><div class="sym">USDT</div><div class="sub">Tether</div></div>
        </div>
        <div class="chev">›</div>
      </li>
      <li class="row" data-symbol="TON" data-name="Toncoin">
        <div class="left">
          <img src="/static/images/coins/TON.webp" class="coin-icon" alt="TON">
          <div class="labels"><div class="sym">TON</div><div class="sub">Toncoin</div></div>
        </div>
        <div class="chev">›</div>
      </li>
      <li class="row" data-symbol="SOL" data-name="Solana">
        <div class="left">
          <img src="/static/images/coins/SOL.webp" class="coin-icon" alt="SOL">
          <div class="labels"><div class="sym">SOL</div><div class="sub">Solana</div></div>
        </div>
        <div class="chev">›</div>
      </li>
      <li class="row" data-symbol="TRX" data-name="TRON">
        <div class="left">
          <img src="/static/images/coins/TRX.webp" class="coin-icon" alt="TRX">
          <div class="labels"><div class="sym">TRX</div><div class="sub">TRON</div></div>
        </div>
        <div class="chev">›</div>
      </li>

      <li class="row" data-symbol="BTC" data-name="Bitcoin">
        <div class="left">
          <img src="/static/images/coins/BTC.webp" class="coin-icon" alt="BTC">
          <div class="labels"><div class="sym">BTC</div><div class="sub">Bitcoin</div></div>
        </div>
        <div class="chev">›</div>
      </li>
      <li class="row" data-symbol="ETH" data-name="Ethereum">
        <div class="left">
          <img src="/static/images/coins/ETH.webp" class="coin-icon" alt="ETH">
          <div class="labels"><div class="sym">ETH</div><div class="sub">Ethereum</div></div>
        </div>
        <div class="chev">›</div>
      </li>
      <li class="row" data-symbol="DOGE" data-name="Dogecoin">
        <div class="left">
          <img src="/static/images/coins/DOGE.webp" class="coin-icon" alt="DOGE">
          <div class="labels"><div class="sym">DOGE</div><div class="sub">Dogecoin</div></div>
        </div>
        <div class="chev">›</div>
      </li>
      <li class="row" data-symbol="LTC" data-name="Litecoin">
        <div class="left">
          <img src="/static/images/coins/LTC.webp" class="coin-icon" alt="LTC">
          <div class="labels"><div class="sym">LTC</div><div class="sub">Litecoin</div></div>
        </div>
        <div class="chev">›</div>
      </li>
      <li class="row" data-symbol="NOT" data-name="Notcoin">
        <div class="left">
          <img src="/static/images/coins/NOT.webp" class="coin-icon" alt="NOT">
          <div class="labels"><div class="sym">NOT</div><div class="sub">Notcoin</div></div>
        </div>
        <div class="chev">›</div>
      </li>
      <li class="row" data-symbol="TRUMP" data-name="Official Trump">
        <div class="left">
          <img src="/static/images/coins/TRUMP.webp" class="coin-icon" alt="TRUMP">
          <div class="labels"><div class="sym">TRUMP</div><div class="sub">Official Trump</div></div>
        </div>
        <div class="chev">›</div>
      </li>
      <li class="row" data-symbol="MELANIA" data-name="Melania Meme">
        <div class="left">
          <img src="/static/images/coins/MELANIA.webp" class="coin-icon" alt="MELANIA">
          <div class="labels"><div class="sym">MELANIA</div><div class="sub">Melania Meme</div></div>
        </div>
        <div class="chev">›</div>
      </li>
      <li class="row" data-symbol="PEPE" data-name="PEPE">
        <div class="left">
          <img src="/static/images/coins/PEPE.webp" class="coin-icon" alt="PEPE">
          <div class="labels"><div class="sym">PEPE</div><div class="sub">PEPE</div></div>
        </div>
        <div class="chev">›</div>
      </li>
    </ul>
  </div>
