<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/language.css">
<div class="language-page">
      <div class="page-header">
        <div class="sheet-title" data-translate="language">ЯЗЫК</div>
      </div>
      <ul class="currency-list" id="lang-list">
        <li class="row" data-lang="en"><div class="left"><div class="labels"><div class="sym">English</div></div></div><div class="radio-btn"></div></li>
        <li class="row" data-lang="ru"><div class="left"><div class="labels"><div class="sym">Русский</div></div></div><div class="radio-btn"></div></li>
      </ul>
  </div>
<script src="/static/js/language.js"></script>
