<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/security.css">
<div class="security-page">
  <div class="sheet">
    <div class="sheet-header">
      <div class="sheet-title">БЕЗОПАСНОСТЬ</div>
      <button class="close" id="security-close">×</button>
    </div>
    <ul class="currency-list">
    <li class="row" id="backup-email-row">
      <div class="left">
        <div class="labels">
          <div class="sym">Резервная почта</div>
          <div class="sub" id="backup-email">in***@outlook.com</div>
        </div>
      </div>
      <div class="chev">✎</div>
    </li>
    <li class="row" id="change-passcode-row">
      <div class="left">
        <div class="labels">
          <div class="sym">Изменить код-пароль</div>
        </div>
      </div>
      <div class="chev">••••</div>
    </li>
    <li class="row danger-row" id="delete-passcode-row">
      <div class="left">
        <div class="labels">
          <div class="sym">Удалить код-пароль</div>
        </div>
      </div>
      <div class="chev">›</div>
    </li>
    <li class="row danger-row" id="end-sessions-row">
      <div class="left">
        <div class="labels">
          <div class="sym">Завершить все сеансы</div>
        </div>
      </div>
      <div class="chev">↗</div>
    </li>
  </ul>
  </div>
</div>
<script src="/static/js/security.js"></script>
