<div class="timezones-page">
      <div class="page-header">
        <div class="sheet-title" data-translate="timezone">ЧАСОВОЙ ПОЯС</div>
      </div>
      <div class="search"><span class="search-icon">
        <svg viewBox="0 0 24 24" width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21 21 16.65 16.65M10.5 18a7.5 7.5 0 1 1 0-15 7.5 7.5 0 0 1 0 15Z" stroke="currentColor" stroke-width="2"/></svg>
      </span><input type="text" id="tz-search" data-translate-placeholder="search_timezone" placeholder="Search timezone" autocomplete="off"/></div>
      <ul class="currency-list" id="tz-list"></ul>
  </div>
